.page {
  background-color: #001629;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 90%;
  min-width: 350px;
  height: 80vh;
  border: 10px solid white;
  border-radius: 30px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}
.wrapper .title {
  color: white;
  font-size: 40px;
  line-height: 2;
}
@media all and (max-width: 500px) {
  .wrapper .title {
    font-size: 30px;
  }
}
.wrapper .copyright {
  height: 40px;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .copyright i {
  margin-right: 10px;
}
.wrapper .copyright a {
  color: inherit;
  margin-left: 5px;
}

.editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: calc(100% - 140px);
}
@media all and (max-width: 960px) {
  .editor {
    gap: 30px;
    margin-bottom: 20px;
  }
}

.source {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gutter {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.source,
.result {
  width: 45%;
  min-width: 300px;
  min-height: 100%;
  height: 100%;
  background-color: #1d1e22;
  color: white;
}
.source .head,
.result .head {
  width: 100%;
  height: 50px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.source .head button,
.result .head button {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
.source .head button:hover,
.result .head button:hover {
  background-color: greenyellow;
  color: rgb(107, 25, 0);
}
.source .head button:active,
.result .head button:active {
  -webkit-box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.35);
}
.source .head button.active,
.result .head button.active {
  background-color: hsl(120, 53%, 40%);
  color: white;
}
.source .head button.active:hover,
.result .head button.active:hover {
  background-color: #00cd00;
}
.source .head button i,
.result .head button i {
  margin-right: 10px;
}
.source .source-code,
.source .result-code,
.result .source-code,
.result .result-code {
  height: calc(100% - 50px);
  overflow: auto;
}
.source .line,
.result .line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.source .line .gutter,
.result .line .gutter {
  min-width: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.15);
  padding: 0 5px;
  line-height: 25px;
}
.source .line .code,
.result .line .code {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  caret-color: red;
  outline: none;
  word-break: break-all;
  padding: 0 10px;
  line-height: 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  white-space: break-spaces;
}
@media all and (max-width: 960px) {
  .source,
  .result {
    width: 90%;
    max-height: 50%;
    min-height: 50%;
  }
}