.page {
    background-color: #001629;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 90%;
    min-width: 350px;
    height: 80vh;
    border: 10px solid white;
    border-radius: 30px;
    text-align: center;
    box-sizing: border-box;
    overflow: auto;
    .title {
        color: white;
        font-size: 40px;
        line-height: 2;
        @media all and (max-width: 500px) {
            font-size: 30px;
        }
    }
    .copyright{
        height: 40px;
        color: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: end;
        justify-content: center;
        i{
            margin-right: 10px;
        }
        a{
            color: inherit;
            margin-left: 5px;
        }
    }
}
.editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: calc(100% - 140px);
    @media all and (max-width: 960px) {
        gap: 30px;
        margin-bottom: 20px;
    }
}
.source{
    user-select: none;
}
.gutter{
    user-select: none;
}
.source,
.result {
    width: 45%;
    min-width: 300px;
    min-height: 100%;
    height: 100%;
    background-color: #1d1e22;
    color: white;
    .head {
        width: 100%;
        height: 50px;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        button {
            cursor: pointer;
            box-sizing: border-box;
            padding: 5px 15px;
            border: none;
            border-radius: 15px;
            transition: color 0.5s, background-color 0.5s;
            &:hover {
                background-color: greenyellow;
                color: rgb(107, 25, 0);
            }
            &:active {
                box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.35);
            }
            &.active {
                background-color: hsl(120, 53%, 40%);
                color: white;
                &:hover {
                    background-color: lighten($color: green, $amount: 15%);
                }
            }
            i {
                margin-right: 10px;
            }
        }
    }
    .source-code,
    .result-code {
        height: calc(100% - 50px);
        overflow: auto;
    }
    .line {
        width: 100%;
        display: flex;
        align-items: start;
        .gutter {
            min-width: 30px;
            flex-shrink: 0;
            text-align: center;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.15);
            padding: 0 5px;
            line-height: 25px;
        }
        .code {
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            flex-grow: 1;
            text-align: left;
            caret-color: red;
            outline: none;
            word-break: break-all;
            padding: 0 10px;
            line-height: 25px;
            border-left: 1px solid rgba(255, 255, 255, 0.15);
            white-space: break-spaces;
        }
    }
    @media all and (max-width: 960px) {
        width: 90%;
        max-height: 50%;
        min-height: 50%;
    }
}